COCKROACH_DB_URL=postgresql://user:password@cluster-name.cockroachlabs.cloud:26257/defaultdb
COCKROACH_API_KEY=your_ccloud_api_key
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
SLACK_WEBHOOK_URL=your_slack_webhook_url
